[project]
	description = Linux-3.10.37 RK3288
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gouwa
[access "refs/for/refs/*"]
	read = group user/gouwa
	push = group user/gouwa
	label-Code-Review = -2..+2 group user/gouwa
	label-Verified = -1..+1 group user/gouwa
	rebase = group user/gouwa
	removeReviewer = group user/gouwa
	submit = group user/gouwa
[access "refs/heads/*"]
	read = group user/gouwa
	create = group user/gouwa
	push = +force group user/gouwa
	pushMerge = group user/gouwa
[access "refs/tags/*"]
	push = +force group user/gouwa
	pushTag = group user/gouwa
	pushSignedTag = group user/gouwa
